html, body {
    font-family: "comfortaa", helvetica, sans-serif; 
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: #BF9270;
    grid-row: 1/3;
    height: 100vh;
    display: grid; 
    grid-template-rows: 10% 45% 45%;
    padding-top: 20px;
    color: white;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding-bottom: 10px;
}

.header {
    background-color: #FFEDDB;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    box-shadow: 0 5px 15px #BF9270;
    position: relative;
}

.headerOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-left: 0;
}

.headerBTN {
    width: 90px;
    height: 35px;
    border: 1px none;
    background: #BF9270;
    border-radius: 10px;
    color: white;
}

.headerBTN:active {
    transform: translateY(3px);
}

.main {
    background-color: #EDCDBB;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 10px;
    padding-left: 20px;
}

.dashboard, .sideSettings, .heyThere, .headerOptions {
    margin: 0;
}

.articlesContainer {
    grid-row: span 2;
}

.articles {
    padding-top: 20px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.card {
    background-color: #fcf4eb;
    height: 200px;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 8px #BF9270;
}

.annoucementsContainer {
    grid-row: 1/2;
    display: grid;
    gap: 10px;
}

.announcements {
    padding-top: 20px;
}

.annouceList, .trendingList {
    background-color: #fcf4eb;
    margin-top: 16px;
    margin-right: 20px;
    height: 200px;
    text-align: center;
    box-shadow: 0 5px 8px #BF9270;
}
.trendingContainer {
    grid-column: 2/3;
    grid-row: 2/3;
}

.trending {
    padding-top: 10px;
}
